$gray-50    : #FAFAFA;
$gray-100   : #F5F5F5;
$gray-200   : #EEEEEE;
$gray-300   : #E0E0E0;
$gray-400   : #BDBDBD;
$gray-500   : #9E9E9E;
$gray-600   : #757575;
$gray-700   : #616161;
$gray-800   : #424242;
$gray-900   : #212121;

$positive-green : #00E676;
$negative-red : #F44336;

$color-main : #F7CE46;

$color-sub-light : #D5C1AD;
$color-sub-deep: #A58C6D;

$color-point : #A3353E;

.background-color-main {
    background-color: $color-main;
}

.background-color-point {
    background-color: $color-point;
}

.font-white {
    color: white;
}

a {
    color : currentColor
}